{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col"> 
        <div class="card my-3" style="width: 80rem;">
            <img src="http://picsum.photos/2500/500" class="card-img-top" alt="placeholder image">
            <div class="card-body">
                <h5 class="card-title text-center">{{ post.title }}</h5>
                <p class="card-text text-center">{{ post.address }}</p>
                <p class="card-text text-center">{{ post.phone_number }}</p>
                {% if current_user == post.author %}
                    <div class="text-center">
                        <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-primary">Take me there</a>
                    </div>  
                    <div class="text-center">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete Address
                    </button>
                    </div>                      <!-- Button trigger modal -->
                        
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ post.title }}?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Are you sure you want to delete {{ post.title }}? This action cannot be undone.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger">Delete Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

